<body>
    <div>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.
            <a href="{% url 'testapp:logout' %}">logout</a>
            </p>
            {% if user.is_superuser %}
                <p>Wow, you are admin.
                <a href="{% url 'admin:index' %}">Rule the site.</a>
                </p>
            {% endif %}
        {% else %}
            <p>Welcome, new user. Please <a href="{% url 'testapp:login' %}">login</a> or <a href="{% url 'testapp:register' %}">register</a>
            </p>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>