{% extends "base.html" %}

{% block content %}

{% if group_list %}
    {% for g in group_list %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ g.group_name }}</h3>
        </div>
        <div class="panel-body">
            {% for t in g.tutorial_set.all|dictsort:"tutorial_order" %}
                <li><a href="{% url 'testapp:detail' t.id %}">{{t.tutorial_name}}</a></li>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>No tutorials yet.</p>
{% endif %}

{% endblock %}